## Introduction

In this example, we will using a simply long hold strategy to demostrate the usage of different rebalancing methods.


We are using a simple version of Ray Dalio's All Weather Portfolio as an example. Ray Dalio's All Weather portfolio consists of the following assets and target weights:

- US Stocks (40%)
- Long Term US Bonds (30%)
- Intermediate US Bonds (15%)
- Gold (7.5%)
- Commodities (7.5%)


In this example, we will simplify it to US Stock Index Fund, Bond ETF and Gold ETF with the following target weights:
- US Stock Index Fund (50%)
- Bond ETF (40%)
- Gold ETF (10%)

In [4]:
import pandas as pd

## Import Data

In [7]:
from src.tiportfolio.helpers.data import Alpaca
import dotenv

dotenv.load_dotenv()

import os
alpaca = Alpaca(os.environ['ALPACA_API_KEY'], os.environ['ALPACA_API_SECRET'])

In [10]:
nasdaq_df = alpaca.query('QQQ', '2016-01-01', '2024-01-01', '1D')
bond_df = alpaca.query('GOVT', '2016-01-01', '2024-01-01', '1D')
gold_df = alpaca.query('GLD', '2016-01-01', '2024-01-01', '1D')

Loading bar data...
Loaded bar data: 0:00:01

Loading bar data...
Loaded bar data: 0:00:00

Loading bar data...
Loaded bar data: 0:00:00

In [11]:
nasdaq_df.head()

,date,symbol,open,high,low,close,volume,vwap
0,2016-01-04 00:00:00-05:00,QQQ,101.58,101.74,100.37,101.65,51517062.0,101.07
1,2016-01-05 00:00:00-05:00,QQQ,102.15,102.28,101.00,101.47,39065561.0,101.58
2,2016-01-06 00:00:00-05:00,QQQ,99.73,101.08,99.71,100.50,42234893.0,100.40
3,2016-01-07 00:00:00-05:00,QQQ,98.36,99.60,97.29,97.35,61742257.0,98.25
4,2016-01-08 00:00:00-05:00,QQQ,98.09,98.67,96.45,96.55,69707476.0,97.57